version: 2.1
orbs:
  node: circleci/node@4.7
  snyk: snyk/snyk@1.7.0

jobs:
  npm_build:
    docker:
      - image: cimg/node:20.2.0
    steps:
      - checkout 
      - run: npm build
  snyk_sca:
    docker:
      - image: cimg/node:20.2.0
    steps:
      - checkout
      - snyk/install
      - snyk/scan:
          fail-on-issues: false
  snyk_code:
    docker:
      - image: cimg/node:20.2.0
    steps:
      - checkout
      - snyk/install
      - run: snyk code test || true
  npm_test:
    docker:
      - image: cimg/node:20.2.0
    steps:
      - checkout 
      - snyk/install
      - run: npm test || true
  docker_build_scan:
    docker:
      - image: cimg/base:2023.06
    steps:
      - checkout 
      - docker build -t nodejsgoof .
      - snyk/install
      - snyk/scan:
          docker-image-name: nodejsgoof

workflows: 
  build_test: 
    jobs:
      - npm_build
      - snyk_sca:
          requires:
           - npm_build
      - snyk_code:
          requires:
           - snyk_sca
      - npm_test:    
          requires:
           - snyk_code
      - docker_build_scan:
          requires:
           - npm_test